[submodule "members/tooling/tree-sitter-a2ml"]
	path = members/tooling/tree-sitter-a2ml
	url = https://github.com/hyperpolymath/tree-sitter-a2ml.git
	branch = main
[submodule "members/tooling/vscode-a2ml"]
	path = members/tooling/vscode-a2ml
	url = https://github.com/hyperpolymath/vscode-a2ml.git
	branch = main
[submodule "members/tooling/pandoc-a2ml"]
	path = members/tooling/pandoc-a2ml
	url = https://github.com/hyperpolymath/pandoc-a2ml.git
	branch = main
[submodule "members/tooling/a2mliser"]
	path = members/tooling/a2mliser
	url = https://github.com/hyperpolymath/a2mliser.git
	branch = main
[submodule "members/ci/a2ml-pre-commit"]
	path = members/ci/a2ml-pre-commit
	url = https://github.com/hyperpolymath/a2ml-pre-commit.git
	branch = main
